/* ==== Main CSS === */
.img-fill{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
  }
  
  .img-fill img {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  }
  
  .Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
  }
  
  .blocks-box,
  .slick-slider {
    margin: 0;
    padding: 0!important;
  }
  
  .slick-slide {
    float: left /* If RTL Make This Right */ ;
    padding: 0;
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
  }
  .slick-prev, .slick-next{
    z-index: 9;
  }
  /* ==== Slider Style === */
  .Banner-Slider .item .img-fill{
    height:100vh;
    background:#000;
  }
  
  .Banner-Slider .item .img-fill .info{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:rgba(0,0,0,.50);
    line-height:100vh;
    text-align:center;
  }
  
  .Banner-Slider .item .img-fill img{
    filter:blur(5px);
  }
  
  .Banner-Slider .item .info > div{
    display:inline-block!important;
    vertical-align:middle;
  }
  
  .Banner-Slider .NextArrow{
    position:absolute;
    top:50%;
    right:0px;
    width:45px;
    height:45px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px/45px FontAwesome;
    color:#FFF;
    z-index:5;
  }
  
  .Banner-Slider .NextArrow:before{content:'>';}
  
  .Banner-Slider .PrevArrow{
    position:absolute;
    top:50%;
    left:0px;
    width:45px;
    height:45px;
    background:rgba(0,0,0,.50);
    border:0 none;
    margin-top:-22.5px;
    text-align:center;
    font:20px/45px FontAwesome;
    color:#FFF;
    z-index:5;
  }
  
  .Banner-Slider .PrevArrow:before{content:'<';}
  
  .Banner-Slider .slick-dots{
    position:absolute;
    height:5px;
    background:rgba(255,255,255,.20);
    bottom:0px;
    width:100%;
    left:0px;
    padding:0px;
    margin:0px;
    list-style-type:none;
  }
  .Banner-Slider .slick-dots li button{display:none;}
  .Banner-Slider .slick-dots li{
    float:left;
    width:0px;
    height:5px;
    background:#d62828;
    position:absolute;
    left:0px;
    bottom:0px;
  }
  
  .Banner-Slider .slick-dots li.slick-active{
    width:100%;
    animation:ProgressDots 11s both;
  }
  
  .Banner-Slider .item h3{
    font:30px/50px RalewayB;
    text-transform:uppercase;
    color:#FFF;
    animation:fadeOutRight 1s both;
    margin:0;
    padding:0;
  }
  
  .Banner-Slider .item h5{
    margin:0;
    padding:0;
    font:15px/30px RalewayR;
    color:#FFF;
    max-width:600px;
    overflow:hidden;
    height:60px;
    animation:fadeOutLeft 1s both;
  }
  
  .Banner-Slider .slick-slide.slick-active h3{
    animation:fadeInDown 1s both 1s;
  }
  
  .Banner-Slider .slick-slide.slick-active h5{
    animation:fadeInLeft 1s both 1.5s;
  }
  
  .Banner-Slider .slick-slide.slick-active{
    animation:Slick-FastSwipeIn 1s both;
  }
  
  .Banner-Slider {background:#000;}
  
  /* ==== Slider Image Transition === */
  @keyframes Slick-FastSwipeIn{
      0%{transform:rotate3d(0,1,0,150deg) scale(0)  perspective(400px);} 
      100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);} 
  }
  
  @-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
  @keyframes ProgressDots{from{width:0px;}to{width:100%;}}
  
