@import url('bootstrap/dist/css/bootstrap.css');
@import url('./animat/animate.min.css');
@import url('./common/header/header.css');
@import url('./common/footer/footer.css');
@import url('./singin/singin.css');
@import url('./slider.css');
@import url('./common/aboutus.css');
@import url('./common/contactus.css');


body {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #797979;  
    width: 100%;
    padding: 0 !important;
    background: #ffffff;
    transition: all 0.5s;
  }
  
  a {
    color: #797979;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    outline: none;
    transition: all 0.5s;
  }
  
  a:hover, a:focus {
    color: #797979;
  }
  
  i:before {
    margin-left: 0 !important;
  }
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica", sans-serif;
    line-height: 1.1;
    font-weight: 400;
    color: #797979;
    margin: 0;
    padding: 0;
  }
  
  p, a {
    margin: 0;
    padding: 0;
    color: #797979;
  }
  
  p {
    font-family: "Helvetica", sans-serif;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .heading{
    margin-bottom: 30px;
  }
  .heading h2{
    color: #F3F3F3;
    font-size: 75px;
    font-weight: bold;
    line-height: 0em;
  }
  .heading h4{
    color: #4C4C4C;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -10px;
  }


.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse;
  margin-bottom: 0.5rem;
  height: 3.25rem;
  position: relative;
}

.field input, 
.field textarea {
  width: 100%;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(15, 54, 91, 0.4);
  border-radius: 0;
  background-color: transparent;
  padding: 0!important;
  height: 2rem;
  cursor: text;
  resize: none;
}

.field label {
  margin: 0;
  font-size: 0.5rem;
  font-weight: 400;
  color: rgba(15, 54, 91, 0.4);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.field input::placeholder,
.field textarea::placeholder{
  color: #FFFFFF;
}
.field input:focus::placeholder,
.field input:valid::placeholder,
.field textarea:focus::placeholder,
.field textarea:valid::placeholder{
  color: #797979;
  font-size: 14px;
}
.field input+label, 
.field textarea+label {
  cursor: text;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: translate(0, 1.9rem) scale(2);
  -ms-transform: translate(0, 1.9rem) scale(2);
  transform: translate(0, 1.9rem) scale(2);
}
.field input:focus,
.field textarea:focus {
  outline: 0;
  border-bottom: 2px solid #0F365B;
}
.field input:focus ~ label, 
.field input:valid + label, 
.field textarea:focus ~ label, 
.field textarea:valid + label {
  -webkit-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  font-size: 0.8rem;
  color: #0F365B;
  cursor: pointer;
}