.user {
    background: #ffffff;
    padding: 90px 0px;
}

.titlepage {
    padding-bottom: 50px;
    padding-top: 10px;
}

.titlepage h3 {
    font-size: 31px;
    line-height: 40px;
    font-weight: bold;
    padding: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10%;



}

.user .main_form {
    background: #fff;
    box-shadow: #ddd 0px 0px 19px 1px;
    /* padding: 40px; */
    /* height: 100%; */
    margin-top: 10%;


}

.fields {
    display: block;
    width: 50%;
    text-align: -webkit-center;
    font-family: 'Montserrat', sans-serif;

}

.form-control.myForm {
    /* border: #02b8a5 solid 1px; */
    /* border-radius: inherit; */
    margin-bottom: 30px;
    /* padding: 13px 20px; */
    font-family: poppins;
    transition: all .4s ease;
    background: rgba(0, 0, 0, .05);
    font-family: 'Montserrat', sans-serif;




}

/* .form-control:focus 
     box-shadow: inherit; 
    border: #02b8a5 solid 1px !important; 
 */

.textarea {
    font-family: poppins;
    /* border: #02b8a5 solid 2px; */
    border: none;
    margin-bottom: 30px;
    padding: 13px 20px;
    width: 100%;
    padding-top: 40px;
}

.send {
    font-family: poppins;
    max-width: 212px;
    margin: 0 auto;
    display: block;
    background: #F2A922;
    color: #fff;
    padding: 12px 0px;
    width: 100%;
    font-size: 17px;
    border-radius: 9px;
    /* border: #F2A922 solid 1px !important; */
    border: none;
    transition: all .4s ease;
    margin-top: 26%;
    font-family: 'Montserrat', sans-serif;

}

.send:hover {
    background: #db981b;
}

.loginimg {
    width: 50%;
    /* background-image: url("../../images/login/soccer.webp"); */
    background-size: cover;
    background-position: center;
    position: relative;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../images/login/soccer.webp")
}

.img_text {
    color: #fff
}

.text_style {
    text-align: center;
    margin-top: 25%;
}

.soccer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #4BC2A0;
    z-index: 2;
    position: relative;
}

.logincontain {
    display: flex;

}

/* .inputlable{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
    margin-right: 77%;
    margin-bottom: 3%;
} */
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    background: #ced4da8a;

}

.form-body {
    width: 100%;
    text-align: left;
    padding: 0 50px;
}

.send-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.P_tag {
    margin-bottom: 40px;

}